{{ partial "header.html" . }}
<section id="main">
    <div class="Article-wrapper">
        <div class="Article-container">
            <div class="Article-content Article-summary-wrapper wrap clearfix">
                {{ range .Data.Pages }}
                    <a href="{{ .Permalink }}" class="link-to-article">
                        <div class="Article-summary">
                            <h3>{{ .Title }}</h3>
                            <p>{{ .Summary }}</p>
                        </div>
                    </a>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ partial "footer.html" . }}
