{{ partial "header.html" . }}
<section class="Page-about">
    <div class="about-inner-content wrap clearfix">
        <p>Hi There! I'm Khoa Pham, a web developer in Portland Oregon.</p>
        <p>I'm currently working at <a href="http://networkredux.com" target="_blank">Network Redux</a> on a project called <a href="http://seastar.io" target="_blank">Seastar.io</a>,
        a managed Apache Cassandra Hosting. You can also find me on 
        <a target="_blank" href="https://twitter.com/pmkhoa">Twitter</a>,
        <a target="_blank" href="http://www.linkedin.com/in/pmkhoa">Linkedin</a>,
        and <a target="_blank" href="https://github.com/pmkhoa">Github</a>.</p>
        <p>My resume is available for <a href="/KhoaPham-resume.pdf" target="_blank">download here</a>.</p>

        <p>I write occasionally, feel free to check <a href="/blog">my blog</a> for development tips, and thoughts. In the past few years, I was lucky to work with many talented people to finish these projects:</p>
    </div>

    <div id="home-container">
        <div class="works-wrapper">
            <ul class="works">
                <li>
                    <a class="project" target="_blank" href="http://seastar.io">
                        <div class="overlay-title"><span class="overlay-inner-text">Visit Site</span></div>
                        <img src="/img/projects/seastar.png" alt="Sesttar">
                    </a>
                </li>
                <li>
                    <a class="project" target="_blank" href="http://classfare.com/">
                        <div class="overlay-title"><span class="overlay-inner-text">Visit Site</span></div>
                        <img src="/img/projects/classfare.png" alt="classfare">
                    </a>
                </li>
                <li>
                    <a class="project" target="_blank" href="http://ratiocoffee.com/">
                        <div class="overlay-title"><span class="overlay-inner-text">Visit Site</span></div>
                        <img src="/img/projects/ratiocoffee.png" alt="ratiocoffee">
                    </a>
                </li>
                <li>
                    <a class="project" target="_blank" href="http://lgintl.com/">
                        <div class="overlay-title"><span class="overlay-inner-text">Visit Site</span></div>
                        <img src="/img/projects/lgintl.png" alt="lgintl">
                    </a>
                </li>
                <li>
                    <a class="project" target="_blank" href="http://onesight.org/">
                        <div class="overlay-title"><span class="overlay-inner-text">Visit Site</span></div>
                        <img src="/img/projects/onesight.png" alt="onesight">
                    </a>
                </li>
                <li>
                    <a class="project" target="_blank" href="http://fancycontent.com/">
                        <div class="overlay-title"><span class="overlay-inner-text">Visit Site</span></div>
                        <img src="/img/projects/fancy-content.png" alt="fancy-content">
                    </a>
                </li>
                <li>
                    <a class="project" target="_blank" href="http://www.workspot.com/">
                        <div class="overlay-title"><span class="overlay-inner-text">Visit Site</span></div>
                        <img src="/img/projects/workspot.png" alt="workspot">
                    </a>
                </li>
                <li>
                    <a class="project" target="_blank" href="http://paintthemoon.net/">
                        <div class="overlay-title"><span class="overlay-inner-text">Visit Site</span></div>
                        <img src="/img/projects/paintthemoon.png" alt="paintthemoon">
                    </a>
                </li>
                <li>
                    <a class="project" target="_blank" href="http://www.empirepg.com">
                        <div class="overlay-title"><span class="overlay-inner-text">Visit Site</span></div>
                        <img src="/img/projects/empirepg.png" alt="empirepg">
                    </a>
                </li>
                <li>
                    <a class="project" target="_blank" href="http://www.40chances.com/">
                        <div class="overlay-title"><span class="overlay-inner-text">Visit Site</span></div>
                        <img src="/img/projects/fortychances.png" alt="fortychances">
                    </a>
                </li>
                <li>
                    <a class="project" target="_blank" href="http://www.investmentpod.com">
                        <div class="overlay-title"><span class="overlay-inner-text">Visit Site</span></div>
                        <img src="/img/projects/pjmint.png" alt="pjmint">
                    </a>
                </li>
                <li>
                    <a class="project" target="_blank" href="http://global.sap.com/community/ebook/2013_05_retail_analytics/index.html">
                        <div class="overlay-title"><span class="overlay-inner-text">Visit Site</span></div>
                        <img src="/img/projects/sap-retail.png" alt="sap-retail">
                    </a>
                </li>
                <li>
                    <a class="project" target="_blank" href="http://hawthornetwentysix.com/">
                        <div class="overlay-title"><span class="overlay-inner-text">Visit Site</span></div>
                        <img src="/img/projects/hawthorne.png" alt="hawthorne">
                    </a>
                </li>
                <li>
                    <a class="project" target="_blank" href="http://revmode.com/">
                        <div class="overlay-title"><span class="overlay-inner-text">Visit Site</span></div>
                        <img src="/img/projects/revmode.png" alt="revmode">
                    </a>
                </li>
                <li>
                    <a class="project" target="_blank" href="http://activeedgewellness.com/">
                        <div class="overlay-title"><span class="overlay-inner-text">Visit Site</span></div>
                        <img src="/img/projects/activeedge.png" alt="activeedge">
                    </a>
                </li>
                <li>
                    <a class="project" target="_blank" href="http://www.netskope.com/">
                        <div class="overlay-title"><span class="overlay-inner-text">Visit Site</span></div>
                        <img src="/img/projects/netskope.png" alt="netskope">
                    </a>
                </li>
                <li>
                    <a class="project" target="_blank" href="http://needemproductions.com/">
                        <div class="overlay-title"><span class="overlay-inner-text">Visit Site</span></div>
                        <img src="/img/projects/needemproduction.png" alt="needemproduction">
                    </a>
                </li>
                <li>
                    <a class="project" target="_blank" href="http://www.edimporters.com/">
                        <div class="overlay-title"><span class="overlay-inner-text">Visit Site</span></div>
                        <img src="/img/projects/european-design.png" alt="european-design">
                    </a>
                </li>
                <li>
                    <a class="project" target="_blank" href="http://www.sap-retail-customer-experience.com/">
                        <div class="overlay-title"><span class="overlay-inner-text">Visit Site</span></div>
                        <img src="/img/projects/sap-customer-experience.png" alt="sap-customer-experience">
                    </a>
                </li>
                <li>
                    <a class="project" target="_blank" href="http://theladyandthesailor.com/">
                        <div class="overlay-title"><span class="overlay-inner-text">Visit Site</span></div>
                        <img src="/img/projects/ladysailor.png" alt="ladysailor">
                    </a>
                </li>
                <li class="placeholder" data-index="9" style="display: inline-block;"> </li>
                <li class="placeholder" data-index="9" style="display: inline-block;"> </li>
            </ul>
        </div>
</section>
{{ partial "footer.html" . }}
