{{ partial "header.html" . }} 
  <section class="page__about wrap">
		<p>Hi There! I'm Khoa Pham, a senior web application developer in Portland, Oregon.</p>
		<p>I'm currently working at <a href="https://joyn.co" target="_blank">Joyn</a>. My main focus is to build great user experience applications that inspire everyone to join and enjoy fitness group class anytime and anywhere.<p>
    <p>You can find me on <a target="_blank" href="https://twitter.com/pmkhoa">Twitter</a>, <a target="_blank" href="http://www.linkedin.com/in/pmkhoa">Linkedin</a>, and <a target="_blank" href="https://github.com/pmkhoa">Github</a>. My resume is available for <a href="/KhoaPham-resume.pdf" target="_blank">download here</a>.
    I occasionally write, feel free to check <a href="/blog">my blog</a> for development tips and thoughts.</p>
    <p>In the past few years, I was lucky to have opportunity to work with many 
      talented people to finish projects for clients like: Nike, Adidas, OneSight, 
      SAP, Ratio Coffee, Seastar, Workspot, and others.</p>
      
      <p>I also enjoy helping non-profit organizations and take their projects with great discount rate.
      If you have a challenging project that needs to complete quickly and correctly, please
      don't hesitate to <a href="mailto:khoa.pham@me.com">contact me</a>.</p>
  </section>
{{ partial "footer.html" . }}
