@import "bourbon/bourbon";
@import "typography";

$black-fallback: #222222;
$black: rgba(0, 0, 0, 0.75);
$border-color: rgba(0, 0, 0, 0.05);
$light-gray: rgba(0, 0, 0, 0.6);

/******** Mixins *********/
@mixin bp-xlarge {
    @media only screen and (min-width: 80em) {
        @content;
    }
}

@mixin large-screen-up {
    @media only screen and (min-width: 64em) {
        @content;
    }
}

@mixin medium-screen-up {
    @media only screen and (min-width: 40em) {
        @content;
    }
}

@mixin small-screen-up {
    @media only screen and (min-width: 30em) {
        @content;
    }
}

/******* Website style *******/

body {
    color: #101011;
    font-family: $serif;
    font-weight: 400;
    line-height: 1.475;
    margin: 0;
}

a {
    color: #419ad4;
}

