@import "bourbon/bourbon";
@import "mixins";
@import "typography";

$black-fallback: #222222;
$black: rgba(0, 0, 0, 0.75);
$border-color: rgba(0, 0, 0, 0.05);
$light-gray: rgba(0, 0, 0, 0.6);

/******* Website style *******/

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    color: #101011;
    font-family: $serif;
    font-weight: 400;
    font-size: 1.05em;
    line-height: 1.475;
    margin: 0;
}

.wrap {
    @include clearfix();
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    width: 92%;
    @include xlarge-screen-up {
        width: 100%;
    }
}

.clearfix {
    @include clearfix();
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: $black;
}

// Responsive Video
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 60px;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


.header {
    .inner-header {
        padding: 25px 15px 40px 15px;
    }
    a {
        text-decoration: none;
    }
    #logo {
        margin-bottom: 12px;
        font-size: 2.15em;
    }
    .header-nav {
        padding: 0;
        margin: 0;
        .nav-item {
            display: inline-block;
            margin-right: 20px;
            text-transform: uppercase;
        }
    }
}

.footer-copyright {
    font-size: 0.9rem;
    padding: 5px 0;
    text-align: center;
}



.Article-container {
    padding: 0 0 50px 0;
    .Article-content {
        padding: 0 15px;
        .link-to-article {
            text-decoration: none;
        }
        ul, ol {
            margin: 1em 0;
            padding-left: 1.5em;
        }
    }
    .Article-title {
        font-size: 1.85em;
    }
    .Article-summary-wrapper {
        padding: 0;
    }
    .Article-summary {
        @include transition(all 0.3s);
        @include transition-delay(0s);
        border-bottom: 1px solid rgba(0,0,0,0.07);
        padding: 30px 15px 20px 15px;
        &:hover {
            background: rgba(0, 0, 0, 0.02);
        }
        h3 {
            margin-top: 0;
        }
        p {
            color: #5b5b5b;
            margin: 0.5em 0;
        }
    }
    .Article-summary {
        @include transition(all 0.3s);
        @include transition-delay(0s);
        border-bottom: 1px solid rgba(0,0,0,0.07);
        padding: 30px 15px 20px 15px;
        &:hover {
            background: rgba(0, 0, 0, 0.02);
        }
        h3 {
            margin-top: 0;
        }
        p {
            color: #5b5b5b;
            margin: 0.5em 0;
        }
    }
}



.Page-about {
    .about-inner-content {
        margin-bottom: 40px;
        padding: 0 15px;
    }

    #home-container {
        h2 {
            margin-bottom: 80px;
        }
        .works-wrapper {
            .works {
                padding: 0;
                list-style: none;
                text-align: justify;
                overflow: hidden;
                padding: 0 15px;
                @include small-screen-up {
                    padding: 30px 30px 0;
                }
                @include xlarge-screen-up {
                    padding: 30px 30px 0 30px;
                }
                li {
                    width: 100%;
                    overflow: hidden;
                    display: inline-block;
                    margin-bottom: 30px;
                    @include small-screen-up {
                        width: 48%;
                        margin: 0 0 2%;
                    }
                    @include large-screen-up {
                        width: 31.5%;
                        margin: 0 0 2%;
                    }
                    @include xlarge-screen-up {
                        width: 23%;
                        margin: 0 0 2%;
                    }
                    &.placeholder {
                        padding: 0;
                        background: none;
                        margin: 0;
                        visibility: hidden;
                    }
                    &:hover {
                        .project .overlay-title {
                            visibility: visible;
                            opacity: 1;
                            -webkit-transition: opacity 0.1s ease-in;
                            -moz-transition: opacity 0.1s ease-in;
                            -o-transition: opacity 0.1s ease-in;
                        }
                    }
                    .project {
                        display: block;
                        border-left: 0 !important;
                        border-right: 0 !important;
                        line-height: 0;
                        position: relative;
                        box-sizing: border-box;
                        @include small-screen-up {
                            border-left: 1px solid rgba(0, 0, 0, 0.03);
                            border-right: 1px solid rgba(0, 0, 0, 0.03);
                        }
                        .overlay-title {
                            position: absolute;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: rgba(0, 0, 0, 0.6);
                            visibility: hidden;
                            opacity: 0;
                            .overlay-inner-text {
                                color: white;
                                position: relative;
                                display: block;
                                top: 50%;
                                margin-top: -10px;
                                text-transform: uppercase;
                                text-align: center;
                            }
                        }
                    }
                }
            }

        }
    }
}
